/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
html,body{
    overflow: hidden;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}



/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* General Styles */
body { font-family: Arial; }
h1 {font-size: 30px; margin: 20px; text-align: center;}
#info { font-size: 12px; text-align: center; margin: 10px; }
.red { color: red; }

.zuckholder{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-perspective: 200px;
}


.criticl{
	width: 100%;
	height: 28px;
	background: #fff url('../img/criticl.svg') no-repeat center center;
	border: 5px solid #fff;
	position: fixed;
	bottom: 0;
	right: 0;
	display: block;
	padding: 5px 0;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

.criticl:hover{
	background: #fff url('../img/criticl.svg') no-repeat center center;
	padding: 10px 0;
}
.zuckwobble{
	-webkit-animation: wobble 2s infinite alternate;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-perspective: 200px;
}

@-webkit-keyframes wobble {
   0% { -webkit-transform: translate3d(0,0,0); }
  
   100% { -webkit-transform: translate3d(0,-20px,0);  }   
}

.zuck{
	background: url('../img/zuck.png') no-repeat center center;
	width: 247px;
	height: 334px;
	position: fixed;
	top: 48%;
	left: 50%;
	margin-left: -123px;
	margin-top: -167px;
	z-index: 60;
	-webkit-transform: scale(.85) ;
	-webkit-animation: wave 10s alternate 1;
}

@-webkit-keyframes wave {
   0% { -webkit-transform: scale(.85) translate3d(0, 0, 0); }
   40% { -webkit-transform: scale(.85) translate3d(0, 0, 0); }
   45% { -webkit-transform: scale(1) translate3d(0, -200px, 0);  }
   78% { -webkit-transform: scale(1) translate3d(0, -200px, 0);  }
   80% { -webkit-transform: scale(.85) translate3d(0, 0, 0);  }   
   100% { -webkit-transform: scale(.85) translate3d(0, 0, 0);  }   
}

.col1 .zuckwobble .zuck{
	background: url('../img/zuck.png') no-repeat center center;
	-webkit-animation: adjustHue 10s alternate infinite, wave 10.1s 1;
}
  
.col2 .zuckwobble .zuck{
	background: url('../img/zuck.png') no-repeat center center;
	-webkit-animation: adjustHueReverse 10s alternate infinite, wave 10.2s 1;
}
@-webkit-keyframes adjustHue {
   0% { -webkit-filter: hue-rotate(0deg); }
   100% { -webkit-filter: hue-rotate(360deg); }   
}

@-webkit-keyframes adjustHueReverse {
   0% { -webkit-filter: hue-rotate(360deg); }
   100% { -webkit-filter: hue-rotate(0deg); }   
}

h1{
	z-index: 60;
	position: fixed;
	width: 600px;
	background: #fff;
	padding: 50px 0px;
	color: black;
	font-family: monospace;
	margin: 0;
}


.no  {
	position: relative;
	z-index: 1;
	width: 300px;
	height: 130px;
	top: 126px;
	overflow: hidden;
	float: left;
}

.no a {
	overflow: hidden;
	margin: 0 15px;
	
}

.no a span {
	display: block;
	padding: 50px 0;
	background: #e10027;
	text-align: center;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	width: 300px;
	height: 130px;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	font-family: sans-serif;
	font-size: 80px;
}

.no a::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 60px 0;
	text-align: center;
	z-index: -1;
	padding: 0 ;
	width: 300px;
	height: 132px;
	background: #344f87 ;
	color: #FFF;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
		background: #344f87 url(../img/no.png) no-repeat center center;
	
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(25%);
	font-family: sans-serif;
	font-size: 24px;
}

.no a:hover span,
.no a:focus span {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
}

.no a:hover::before,
.no a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}


.yes  {
	position: relative;
	z-index: 1;
	width: 300px;
	height: 130px;
	top: 126px;
	overflow: hidden;
}

.yes a {
	overflow: hidden;
	margin: 0 15px;
	
}

.yes a span {
	display: block;
	padding: 50px 0;
	background: #64c020;
	text-align: center;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	width: 300px;
	height: 130px;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	font-family: sans-serif;
	font-size: 80px;
}

.yes a::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 60px 0;
	text-align: center;
	z-index: -1;
	padding: 0 ;
	width: 300px;
	height: 132px;
	background: #344f87 url(../img/yes.png) no-repeat center center;
	color: #FFF;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
	font-family: sans-serif;
	font-size: 24px;
}

.yes a:hover span,
.yes a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.yes a:hover::before,
.yes a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}

.par{
	position: fixed;
	width: 600px;
	height: 260px;
	top: 50%;
	left: 50%;
	margin-left: -320px;
}
html, body, .shell{
	width: 100%;
	height: 100%;
}

.background{
	height: 100%;
}

.spiral{
	position: fixed;
	width: 260%;
	height: 260%;
	left: -80%;
	top: -75%;
	z-index: 0;
	background: url('../img/spiral.gif') no-repeat center center;
	
	-webkit-transform: rotate(0deg);
	
	-webkit-animation-duration: 100s;
	
	-webkit-animation-fill-mode: both;
	
	-webkit-animation-name: rotater;
	
	-webkit-animation-iteration-count: infinite;
	    
	-webkit-animation-timing-function: linear;
}





@-webkit-keyframes rotater {
	0% {
	-webkit-transform:rotate(0deg);;
	}
	

	100% {
	-webkit-transform:rotate(360deg);;
	}
}
a, a:active, a:visited{
    outline: none;   
}
.criticallogo, .criticallogo:active, .criticallogo:visited{
	padding: 6px 0;
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: rgba(255,255,255,0);
	outline: none;
	transition: all .2s ease-out;
}
.criticallogo:hover{
	padding: 12px 0;
	background: rgba(255,255,255,1);
}
.criticallogo img{
	width: 80px;
	margin: 0 auto;
	display: block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}